# App config
DEBUG=False
API_KEY=apiKeyexample

# Database
DB_NAME=database
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# MINIO
MINIO_ENDPOINT=minio-api.project-quest-dev.com
MINIO_ACCESS_KEY=accessKey
MINIO_SECRET_KEY=secretKey
MINIO_BUCKET_NAME=backetName